<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="5" android:versionName="1.0.0" package="com.seanhurley.KSFSurf" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="28" />
	<application android:label="KSF Surf" android:icon="@mipmap/icon"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<compatible-screens>
		<!-- all small size screens -->
		<screen android:screenSize="small" android:screenDensity="ldpi" />
		<screen android:screenSize="small" android:screenDensity="mdpi" />
		<screen android:screenSize="small" android:screenDensity="hdpi" />
		<screen android:screenSize="small" android:screenDensity="xhdpi" />
		<screen android:screenSize="small" android:screenDensity="xxhdpi" />
		<screen android:screenSize="small" android:screenDensity="xxxhdpi" />
		<!-- all normal size screens -->
		<screen android:screenSize="normal" android:screenDensity="ldpi" />
		<screen android:screenSize="normal" android:screenDensity="mdpi" />
		<screen android:screenSize="normal" android:screenDensity="hdpi" />
		<screen android:screenSize="normal" android:screenDensity="xhdpi" />
		<screen android:screenSize="normal" android:screenDensity="xxhdpi" />
		<screen android:screenSize="normal" android:screenDensity="xxxhdpi" />
		<!-- all large size screens -->
    <screen android:screenSize="large" android:screenDensity="ldpi" />
		<screen android:screenSize="large" android:screenDensity="mdpi" />
		<screen android:screenSize="large" android:screenDensity="hdpi" />
		<screen android:screenSize="large" android:screenDensity="xhdpi" />
		<screen android:screenSize="large" android:screenDensity="xxhdpi" />
		<screen android:screenSize="large" android:screenDensity="xxxhdpi" />
	</compatible-screens>
</manifest>